@page "/"

<PageTitle>Home</PageTitle>

<div class="container mt-4">
    <div class="row g-3">
        @foreach (var note in notes)
        {
            <div class="col-md-4">
                <div class="card note-card" style="cursor: pointer;">
                    <div class="card-body">
                        <h5 class="card-title fw-bold fs-5">@note.Title</h5>
                        <p class="card-text mt-3">@note.Content</p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<!-- Button -->
<button type="button" class="btn btn-primary btn-lg rounded-circle shadow position-fixed zoom-button"
        data-bs-toggle="modal" data-bs-target="#myModal"
        style="bottom: 20px; right: 20px; width: 60px; height: 60px;">
    <span class="fs-4">+</span>
</button>

<!-- Popup Modal -->
<div id="myModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Create a note</h5>
                <button type="button" class="btn-close" data-bs-toggle="modal" data-bs-target="#myModal"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <input type="text" id="noteTitle" class="form-control border" @bind="noteTitle" placeholder="Title..." />
                </div>
                <div class="mb-3">
                    <textarea id="noteContent" class="form-control border" rows="4" @bind="noteContent" placeholder="Content..."></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal" @onclick="AddNote">Add</button>
            </div>
        </div>
    </div>
</div>

@code {
    private string noteTitle = string.Empty;
    private string noteContent = string.Empty;

    private List<Note> notes = new List<Note>();

    private void AddNote()
    {
        if (!string.IsNullOrWhiteSpace(noteTitle) || !string.IsNullOrWhiteSpace(noteContent))
        {
            notes.Add(new Note
                {
                    Title = noteTitle,
                    Content = noteContent
                });

            noteTitle = string.Empty;
            noteContent = string.Empty;
        }
    }

    private class Note
    {
        public string Title { get; set; } = string.Empty;
        public string Content { get; set; } = string.Empty;
    }
}

